.icon-switch{
    margin-bottom: 12px;
}

.icon-switch button {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    padding: 0;
    border: none;
    background: #ffffff;
    cursor: pointer;
    outline: 0;
}

.icon-switch button i{
    font-size: 4em;
}
